/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.title-font {
  font-family: 'Edu TAS Beginner', sans-serif;
}

.date-font {
    font-family: 'Sometype Mono', monospace;
}